<div class="container">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Füsse</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Was ist mit deinen Füssen?</h6>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">Bruch</li>
      <li class="list-group-item">Blut</li>
      <li class="list-group-item">Verbrennnung</li>
    </ul>
  </div>
  </div>
  <button class="btn btn-primary"  [routerLink]="['/body-parts',{showBody: true}]">Zurück</button>
</div>

